.grid-layout {
	background-color: #cecece;
	text-transform: capitalize;
	margin: 10px auto;
}
.box {
	height: 50px;
	width: 100%;
	border-radius: 8px;
	background-color: brown;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}
